{{#resolve "/"}}
  {{#if_all emergencyBanner emergencyBanner.title}}
    <div class="emergency-banner emergency-banner--{{replace emergencyBanner.type "_" "-"}}" role="banner" data-nosnippet="">
    	<div class="wrapper">
			<div class="col-wrap">
				<div class="col col--md-two-thirds col--lg-two-thirds">
					<h2 class="emergency-banner__heading">{{ emergencyBanner.title }}</h2>
					<p class="emergency-banner__description">{{ emergencyBanner.description }}</p>
					{{#if emergencyBanner.uri and emergencyBanner.linkText }}
						<a href="{{ emergencyBanner.uri }}" class="emergency-banner__link">{{ emergencyBanner.linkText }}</a>
					{{/if}}
				</div>
			</div>
    	</div>
	</div>
  {{/if_all}}
  {{#if serviceMessage}}
    <div class="banner">
      <div class="wrapper banner--half-padding banner--bottom-border">
        <div class="col-wrap">
          <div class="col">
            <span class="banner__icon icon icon-info"></span>
            <div class="banner__body">
              {{md serviceMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/resolve}}
